.games-wrapper {
    margin-top: 50px;
}

.search-input {
    width: 75%;
    height: 54px;
    border-radius: 16px;
    padding: 0 0 0 20px;
    margin-top: 20px;
    margin-right: 15px;
}

.search-btn {
    background-color:black;
    color: aliceblue;
    width: 20%;
    height: 54px;
    border-radius: 16px;
    padding: 0 20px 0 20px;
}
.game-img-wrapper {
    width: 100%;
    height: 200px;
}

.game-img-wrapper > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-placeholder {
    background-color: #868e96;
}

.genres-wrapper,
.platforms-wrapper {
    display: flex;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
}

.platforms-wrapper svg {
    width: 20px;
    height: 20px;
}

.platforms-wrapper svg path {
    fill: #868e96;
}

.game-video {
    width: 100%;
    height: 100%;
}

.game-video[poster] {
    object-fit: cover;
}

